/* all pages of the site share basically the same css features ^^ */



/* fonts */

@font-face { /* font for arcade (title) text */
    font-family: "Arcade";
    src: url(../fonts/arcade.ttf) format("truetype");
}

@font-face { /* main font for the site */
    font-family: "Open Sans";
    src: url(../fonts/opensans.ttf) format("truetype");
}

@font-face { /* main font for the site */
    font-family: "Street Fighter";
    src: url(../fonts/streetfighter.ttf) format("truetype");
}





/* root variables */

:root {
    --global-font-size: 15px;
    --global-font-family: "Open Sans";
}





/* reset styles */

h1, h2, h3, h4, h5, h6 {
    font-weight: unset;
    margin: 0;
    font-size: var(--global-font-size)
}

p {
    margin: 5px;
}

a {
    color: unset;
    text-decoration: none;
}


/* main css */

body {
    margin: 0;
    font-size: var(--global-font-size);
    font-family: var(--global-font-family);
    scroll-behavior: smooth;
}

    /* header */

    header {
        background: url(/graphics/header.png);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        width: 100%;
        height: 1265px; /* hardcoded size for computers, no choice :( */
        position: relative;
    }
    
        /* header contents */
    
        .logo-container {
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: content-box;
            height: 400px;
            width: 700px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-family: "Arcade";
            padding: 20px;
        }

        /* nav, part of header */

        .nav-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        nav {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            justify-items: center;
            gap: 5px;
            background: #ffa500;
            height: fit-content;
            width: 90%;
            margin-top: 100px;
            border-radius: 50px;
            border: 3px solid white;
            z-index: 2;
            font-size: 16px;
            font-weight: bold;
        }
        
        nav div {
            width: 220px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            border-radius: 0px;
        }
        
        nav div:hover {
            background: #ff7300;
            transition: all 0.2s;
            cursor: pointer;
        }



    /* main body (contains all the essential elements) */

    .main-body {
        /* the rest of the site besides the header and footer, contains the essentials */
        background: url(/graphics/background.jpg);
        background-size: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    /* content container, controls spacing */
    .content-container {
        /*
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        height: fit-content;
        margin: 20px;
        padding: 10px;
    }

        /* divs containing the text */
        .info-container {
            border: 5px solid black;
            background: #ecdd00;
            box-shadow: 0 0 5px 8px rgba(0, 0, 0, 0.4);
            padding: 15px;
            width: 50%;
        }

        .info-container img {
            border: 2px solid black;
        }
        
        .info-container li {
            margin: 5px 0;
        }

        .info-container iframe {
            margin: 20px 0;
            border: 2px solid black;
        } 

        .info-container p {
            margin: 10px;
        } 

        h1 {
            font-family: "Street Fighter";
            font-size: 45px;
            letter-spacing: 1px;
            font-style: normal;
            color: #ff0000;
            -webkit-text-stroke: #6e0000 0.5px;
            text-shadow: 2px 2px black;
            margin-bottom: 15px;
            text-align: center;
        }
        
        .image-container {
            position: relative;
        }

        .two-columns {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            grid-auto-flow: row;
        }

    .button {
        border: 5px solid black;
        border-radius: 15px;
        background: #ff0000;
        color: white;
        font-weight: bold;
        box-shadow: 0 0 5px 8px rgba(0, 0, 0, 0.4);
        padding: 15px;
        width: fit-content;
    }

    .button:hover {
        background: #cd0000;
        transition: all 0.2s;
        cursor: pointer;
    }
    


/* extra, unused */
.extra-button {
    display: none;
    background: green;
    height: 50px;
    width: 50px;
    top: 15px;
    left: 15px;
    position: sticky;
}


/* weak attempt at making the site suitable for mobile devices */

@media
    only screen and (max-width: 800px) {
    
    .info-container {
        width: 80%;
    }

    h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }
}