/* all pages of the site share basically the same css features ^^ */



/* fonts */

@font-face { /* font for arcade (title) text */
    font-family: "Arcade";
    src: url(fonts/arcade.ttf) format("truetype");
}

@font-face { /* main font for the site */
    font-family: "Mitr Light";
    src: url(fonts/mitr-light.ttf) format("truetype");
}

@font-face { /* main font for the site */
    font-family: "Pink Blue";
    src: url(fonts/pinkblue.ttf) format("truetype");
}





/* root variables */

:root {
    --global-font-size: 15px;
    --global-font-family: "Mitr Light";
}





/* reset styles and apply own */

h1, h2, h3, h4, h5, h6 {
    font-weight: unset;
    margin: 0;
    font-size: var(--global-font-size)
}

h1, h3, h4 {
    font-family: "Pink Blue";
    font-size: 30px;
    letter-spacing: 1px;
    font-style: normal;
    color: #ff0000;
    -webkit-text-stroke: #6e0000 0.5px;
    text-shadow: 2px 2px black;
    text-align: center;
}

h2 {
    font-family: "Pink Blue";
    font-size: 45px;
    letter-spacing: 1px;
    font-style: normal;
    color: #ff0000;
    -webkit-text-stroke: #6e0000 0.5px;
    text-shadow: 2px 2px black;
    margin: 15px 0;
    text-align: center;
}

h1, h2, h3, h4 {
    margin: 0 10px;
}

p {
    margin: 5px;
}

a {
    color: #ff0000;
    text-decoration: underline;
}

a:hover {
    font-weight: bold;
    transition: all 0.2s;
}

ul {
    list-style: none;
}

ul li::before {
    content: "\2605";
    font-weight: 900;
    color: #ff0000;
    display: inline-block;
    width: 1em;
    margin-left: -1.3em;
    font-size: 1.2em;
}

img, header {
    image-rendering: optimizeQuality;
}



/* main css */

body {
    margin: 0;
    font-size: var(--global-font-size);
    font-family: var(--global-font-family);
    scroll-behavior: smooth;
}

    /* header */

    header {
        background: url(graphics/header.png);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        width: 100%;
        height: 1265px; /* hardcoded size for computers, no choice :( */
        position: relative;
    }
    
        /* header contents */
    
        .logo-container {
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: content-box;
            height: 400px;
            width: 700px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-family: "Arcade";
            padding: 20px;
        }

        .logo-container img {
            image-rendering: crisp-edges;
            width: 800px;
            height: auto;
        }

        /* nav, part of header */

        .nav-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        nav {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            justify-items: center;
            gap: 5px;
            background: #ffa500;
            height: fit-content;
            width: 90%;
            margin-top: 100px;
            border-radius: 50px;
            border: 3px solid white;
            z-index: 2;
            font-size: 16px;
            font-weight: bold;
        }

        .dropdown-content {
            width: 100%;
            height: fit-content;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            justify-items: center;
            gap: 5px;
        }

        .dropdown-button {
            display: none;
            border: none;
            background: none;
            cursor: pointer;
            width: fit-content;
            height: fit-content;
            font-size: 1.5em;
            margin-top: 10px;
        }        
        
        .dropdown-content div {
            width: 220px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            border-radius: 0px;
        }
        
        .dropdown-content div:hover {
            background: #ff7300;
            transition: all 0.2s;
            cursor: pointer;
        }

        .dropdown-content a {
            color: unset;
            text-decoration: none;
        }

        .intro-container {
            width: fit-content;
        }



    /* main body (contains all the essential elements) */

    .main-body {
        /* the rest of the site besides the header and footer, contains the essentials */
        background: url(graphics/background.jpg);
        background-size: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    /* contains everything essential, controls spacing */
    .content-container {
        /*
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        height: fit-content;
        margin: 20px;
        padding: 10px;
    }

        /* divs containing the content */
        .info-container {
            --container-length: 50%;
            border: 5px solid black;
            background: #ecdd00;
            box-shadow: 0 0 5px 8px rgba(0, 0, 0, 0.4);
            padding: 15px;
            width: var(--container-length);
            margin-bottom: 50px;
        }

        .info-container img {
            border: 2px solid black;
        }
        
        .info-container li {
            margin: 5px 0;
        }

        .info-container iframe {
            margin: 20px 0;
            border: 2px solid black;
        } 

        .info-container p {
            margin: 10px;
            text-align: justify;
        }
        
        .image-container {
            position: relative;
        }

        .multiple-columns {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 20px;
            grid-auto-flow: row;
            justify-items: center;
        }

        .multiple-columns > div {
            width: 90%;
        }

        .video-container {
            position: relative;
            width: 100%;
            padding-top: 56.25%;
            margin-bottom: 40px;
        }

        .video-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        /* div containing a single image, used inside multiple-columns */
        .image-container-individual {
            background: var(--displayed-image);
            aspect-ratio: 1 / 1; /* really not good for old browsers (2021+) but well... */
        }

        /* div containing multiple images, used inside info-container */
        .image-container-group {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            width: 100%;
        }

    .info-container-no-margin {
        margin-bottom: 0;
    }

    .qr-container {
        width: 300px;
        height: fit-content;
    }

    .qr-container img {
        width: 90%;
        height: auto;
    }

    .button {
        border: 5px solid black;
        border-radius: 15px;
        background: #ff0000;
        color: white;
        font-weight: bold;
        box-shadow: 0 0 5px 8px rgba(0, 0, 0, 0.4);
        padding: 15px;
        width: fit-content;
    }

    .button:hover {
        background: #cd0000;
        transition: all 0.2s;
        cursor: pointer;
    }

/* extra, unused */
.extra-button {
    display: none;
    background: green;
    height: 50px;
    width: 50px;
    top: 15px;
    left: 15px;
    position: sticky;
}


/* weak attempt at making the site suitable for mobile devices */

@media
    only screen and (max-width: 540px) {

    header {
        background: url("graphics/background.jpg");
        background-size: contain;
        height: fit-content;
    }

    .logo-container {
        width: 100%;
        height: auto;
        top: 70%;
        position: relative;
        margin-top: 80px;
        padding: 20px 0;
    }

    .logo-container img {
        width: 100%;
        height: auto;
    }

    .dropdown-button, #dropdown-button {
        display: block;
        margin: 10px 0;
    }

    .dropdown-content {
        display: none;
        transition: all 0.3s;
    }

    .show-dropdown {
        display: grid;
    }

    .rotate-dropdown-button {
        transform: rotate(-90deg);
        transition: all 0.3s;
    }

    nav {
        margin-top: 10px;
    }

    .content-container {
        padding: 0;
    }
    
    .info-container, .intro-container {
        width: 80%;
    }

    .qr-container {
        width: 80%;
        height: auto;
    }

    h2 {
        font-size: 40px;
    }
    
    .multiple-columns div {
        width: 80%;
    }
}